{% extends 'base.html' %}

{% block title %}{{paytype.id}}{% endblock %}

{% block page_title %}Show PayType{% endblock %}

{% block content %}

    <div class="wrapper">
        <form action="#" method="get">
            <dl>
                <dt><h3 class="games-base-names">Description:</h3></dt>
                <dd><p class="games-base-description">{{paytype.description}}</p></dd>

                <dt><h3 class="games-base-names">PaymentType:</p></dt>
                <dd><p class="games-base-description">{{paytype.p_type.payment_type}}</p></dd>

                <dt><h3 class="games-base-names">PaymebtCode:</p></dt>
                <dd><p class="games-base-description">{{paytype.p_code.payment_code}}</p></dd>

                <dt><h3 class="games-base-names">Country:</p></dt>
                <dd><p class="games-base-description">{{paytype.country.code}}</p></dd>

                <dt><h3 class="games-base-names">Countries:</p></dt>
                    {% for i in paytype_view.countries.all %}
                        <dd><p class="games-base-description">{{i.code}}</p></dd>
                    {% endfor %}

                <dt><h3 class="games-base-names">NotCountry:</p></dt>
                <dd><p class="games-base-description">{{paytype.not_country.code}}</p></dd>

                <dt><h3 class="games-base-names">NotCountries:</p></dt>
                    {% for i in paytype_view.not_countries.all %}
                        <dd><p class="games-base-description">{{i.code}}</p></dd>
                    {% endfor %}

                <dt><h3 class="games-base-names">Feature:</p></dt>
                <dd><p class="games-base-description">{{paytype.feature}}</p></dd>

                <dt><h3 class="games-base-names">Start Date:</p></dt>
                <dd><p class="games-base-description">{{paytype.start_date}}</p></dd>

                <dt><h3 class="games-base-names">Finish Date:</p></dt>
                <dd><p class="games-base-description">{{paytype.finish_date}}</p></dd>

                <dt><h3 class="games-base-names">Document:</p></dt>
                <dd><p class="games-base-description">{{paytype.document}}</p></dd>
            </dl>
        </form>
    </div>
    <div>
        <input class="games-base-button" type="submit" value="Back" onClick='location.href="{% url 'catalog:paytype_view' %}"'>
        <textarea name="description" cols="30" rows="12"></textarea>
    </div>

{% endblock %}