{% extends 'base.html' %}

{% block title %}Add{% endblock %}

{% block page_title %}Add PayType{% endblock %}

{% block content %}

    <div class="wrapper">
        <form action="{% url 'catalog:paytype_add_add' %}" method="post">
            {% csrf_token %}
            <dt><h3 class="games-base-names">Description:</h3></dt>
            <input type="text" name="description" placeholder="Description" minlength="1">
            <dt><h3 class="games-base-names">Payment Type:</h3></dt>
            <select class="selectors" name="p_type">
                {% for i in p_type %}
                    <option>{{i.payment_type}}</option>
                {% endfor %}
            </select>
            <dt><h3 class="games-base-names">Route:</h3></dt>
            <select class="selectors" name="route">
                <option selected value="">------</option>
                <option>ввоз</option>
                <option>вывоз</option>
                <option>транзит</option>
            </select>
            <dt><h3 class="games-base-names">Payment Code:</h3></dt>
            <select class="selectors" name="p_code">
                {% for i in p_code %}
                    <option>{{i.payment_code}}</option>
                {% endfor %}
            </select>
            <dt><h3 class="games-base-names">Country:</h3></dt>
            <select class="selectors" name="country">
                <option selected value="">------</option>
                {% for i in country %}
                    <option>{{i.code}}</option>
                {% endfor %}
            </select>
            <dt><h3 class="games-base-names">Countries:</h3></dt>
            <select class="selectors1" name="countries" multiple>
                {% for i in country %}
                    <option>{{i.code}}</option>
                {% endfor %}
            </select>
            <dt><h3 class="games-base-names">Not Country:</h3></dt>
            <select class="selectors" name="not_country">
                <option selected value="">------</option>
                {% for i in country %}
                    <option>{{i.code}}</option>
                {% endfor %}
            </select>
            <dt><h3 class="games-base-names">Not Countries:</h3></dt>
            <select class="selectors1" name="not_countries" multiple>
                {% for i in country %}
                    <option>{{i.code}}</option>
                {% endfor %}
            </select>
            <dt><h3 class="games-base-names">Feature:</h3></dt>
            <select class="selectors" name="feature">
                <option selected value="">------</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
            </select>
            <dt><h3 class="games-base-names">Start Date:</h3></dt>
            <input type="date" name="start_date"
               value="2015-12-05" required>
            <dt><h3 class="games-base-names">Finish Date:</h3></dt>
            <input type="date" name="finish_date"
                value="2015-12-05" required>
            <dt><h3 class="games-base-names">Document:</h3></dt>
            <input type="text" name="document" placeholder="Document" minlength="1">
            <input class="games-base-button" type="submit" value="Submit">
        </form>
    </div>
    <div>
        <input class="games-base-button" type="submit" value="Back" onClick='location.href="{% url 'catalog:paytype_view' %}"'>
        <textarea name="description" cols="30" rows="12"></textarea>
    </div>

{% endblock %}